
*{
    margin: 0;
    padding: 0;
    outline: none;
}
html{
    font-size: 62.5%;
}
body{
    height: 95vh;
    font-size: 2rem;
    background-color: #171723;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #7076b1;
}
header{
    text-align: center;
}
main{
    margin: 5rem auto 0 auto;
    width: 40%;
}
h1{
    margin-top: 3rem;
    font-size: 6rem;
    color: #CCC;
}
.section-one{
    text-align: center;
    margin-bottom: 4rem;
}
.sec-fazer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-concluida{
    display: none;
}
.sections{
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    height: 34.9rem;
    overflow-y: auto;
    overflow-x: visible;
    background-color: #24273d;
    border: #CCC 0.2rem solid;
}
.div-principal{
    position: relative;
}
.div-bts{    
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 35rem;
    background-color: rgba(36,39,61,255);
    width: 100%;
    border-radius: 0.5rem;
    height: 5rem;
    box-sizing: border-box;
    border: #CCC 0.2rem solid;
    border-top: none;
}
.divFazer span{
    margin-top: 1rem;
    font-size: 2.3rem;
}
#inputText{
    width: 50%;
    height: 5rem;
    font-size: 2.5rem;
    background-color: #2f3039;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    color: #CCC;
}
#inputText::placeholder{
    font-size: 2rem;
}
#inputText:focus{
    outline: 0.2rem solid #3065d2;
}
#linkEnviar:hover{
    color: #3065d2;
}
input[type=button]{
    background-color: transparent;
    border: transparent;
}
.div-bts input:hover{
    color: #3065d2;
}
.divFazer div{
    display: flex;
    align-items: center;
    height: 5rem;
    border-bottom: #CCC 0.1rem solid;
    justify-content: space-between;
}
.fa-check-circle{
    font-weight: 400;
}
.fa-check-circle:hover{
    color: #09eb4dbb;
}
.fa-times-circle{
    font-weight: 400;
}
.fa-times-circle:hover{
    color: rgba(255, 0, 0, 0.651);
}
.fas{
    margin: 0.8rem 0.3rem 0 0.3rem;
}
.div-bts input{
    font-family: 'Montserrat';
}
.divConcluida{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divConcluida span{
    display: block;
}
.sec-concluida h2{
    text-align: center;
}
a{
    cursor: pointer;
}
.div-icon{
    display: flex;
    align-items: center;
    width: 50rem;
    height: 20rem;
}
.pai-div-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.icon-list{
    height: 17rem;
}
.p-icon-list{
    color: #CCC;
}
.link-apagar{
    margin: 1rem;
    position: absolute;
    display: none;
}
.link-apagar:hover{
    color: rgba(255, 0, 0, 0.651);
}
.divConcluida div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    border-bottom: #CCC 0.1rem solid;
    text-align: center;
}
@media screen and ( max-width: 1012px){
    main{
        width: 85%;
    }
}
@media screen and ( max-width: 486px){
    #inputText{
        width: 75%;
    }
}
