*{
    margin: 0;
    padding: 0;
    
    outline: none;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-size: 2rem;
    background-color: #171723;
    font-family: 'M PLUS 1', sans-serif;
    color: #7076b1;
}
header{
    text-align: center;
    /*11.3*/
}
h1{
    font-family: 'Oswald', sans-serif;
}
.section-one{
    text-align: center;
}
.sec-fazer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-concluida{
    display: none;
}
.sections{
    
    border-radius: 0.5rem;
    position: absolute;
    width: 90rem;
    height: 40rem;
    overflow-y: auto;
    background-color: #24273d;
}
.div-principal{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25rem;
    
}
.div-bts{    
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 18.5rem;
    background-color: #2f3039;
    width: 90rem;
    border-radius: 0.5rem;
    height: 5rem;
}
li{
    list-style: none;
    display: inline;
}
#inputText{
    width: 40rem;
    height: 5rem;
    font-size: 2.5rem;
}
#inputText::placeholder{
    font-size: 2rem;

}
input[type=button]{
    background-color: transparent;
    border: transparent;
}
.div-bts input:hover{
    color: #09ebae;
}
input[type=checkbox]{
    all:unset;
    position:relative;
    display: inline-block;
    border: dashed 1px #CCC;
    width:20px;
    height: 20px;
    background: #EEE;
    cursor:pointer;
  }
  
  input[type=checkbox]:checked{
    border: dashed 1px transparent;
  }
  
  input[type=checkbox]:checked::after{
    content:"";
    position:absolute;
    width:12px;
    height:12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    border-radius:50%;
    background: #2DE88F;
  }
